Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bootstrap
email-validator
gunicorn
Flask-WTF
python-dotenv
Flask-Migrate
markdown
bleach
wtforms_components
python-slugify
requests
bs4
Flask-Caching
psycopg2-binary
sentry-sdk
blinker