{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import
"_macros.html" as macros %} {% block title %} {{poem.title}} {% endblock title
%} {% block menu_toggler %}
{{ macros.more_actions_widget(poem, current_user) }}
{% endblock menu_toggler %} {% block main_content %}
<h1 class="main-content__title">{{poem.title|upper}}</h1>
<span
  class="poem-completion poem-{{ 'completed' if poem.completed else 'progress' }}"
  >{{'Completed' if poem.completed else 'In Progress'}}</span
>

<p class="poem-metadata">
  <span class="poem-creation__date">{{poem.crafted_on.date()}}</span>
  {% if poem.poets %}
    <span class="poem-author">{{poem.poets.poet_name}}</span>
  {% endif %}
  <span class="poem-rating">{{poem.rating}}</span>
  <span class="poem-category">{{poem.categories.name}}</span>
</p>
<hr>
<div class="poem-desc">
  <h3 class="poem-desc__heading">Poem Description</h3>
  <pre class="poem-desc__content">
    {{poem.description if poem.description else 'No Poem Description.'}}
  </pre>
</div>
<hr />
<div class="poem-stanzas">
  <h3 class="poem-stanzas__heading">Stanzas</h3>
  <div class="poem-stanzas__container">
    {% if stanzas|length == 0 %}
    <p class="no-stanza-text">This poem currently has no stanza.</p>
    {% else %} {% for stanza in stanzas %}
    <div class="poem-stanza__card hidden">
      {% if poem.is_accessible %}
      <p class="stanza-action__links">
        <a href="/poems/{{poem.id}}/stanzas/{{stanza.id}}/delete">Delete</a>
        <a href="/poems/{{poem.id}}/stanzas/{{stanza.id}}/edit">Edit</a>
      </p>
      {% endif %}
      <p class="stanza-number">{{stanza.index}}</p>
      <pre class="stanza-content">
          {{stanza.content|trim}}
      </pre>
      <p class="stanza-metadata">
        <span><strong>Added On:</strong> {{stanza.added_on}}</span>
        {% if stanza.edited_on %}
        <span><strong>Edited On:</strong> {{stanza.edited_on}}</span>
        {% endif %}
      </p>
    </div>
    {% endfor %} {% endif %}
    <div class="slider-btns">
      <button id="slide-backward__btn">&lAarr;</button>
      <p class="what-stanza__number">
        <span id="what-number">1</span>/{{poem.stanzas.all()|length}}
      </p>
      <button id="slide-forward__btn">&rAarr;</button>
    </div>
    {% if poem.is_accessible %}
    <hr width="100%" />
    <a href="/poems/{{poem.id}}/add_stanza" class="add-stanza"
      >Add New Stanza</a
    >
    {% endif %}
  </div>
</div>
{% if poem.is_accessible %}
<p class="poem-action__links">
  <a href="/poems/{{poem.id}}/delete">Delete Poem</a>
  <a href="/poems/{{poem.id}}/edit">Edit Poem</a>
</p>
{% endif %} {% if not current_user.is_anonymous %}
<div class="add-comment__form-container">{{ wtf.quick_form(form) }}</div>
<div class="comments-container">
  <h2 class="comments-title">
    <span class="black-dot"></span>
    <span class="black-dot"></span>
    <span class="black-dot"></span>
    <span class="comment-title__text">Comments</span>
    <span class="black-dot"></span>
    <span class="black-dot"></span>
    <span class="black-dot"></span>
  </h2>
  {% if poem.comments.all()|length == 0 %}
  <p class="empty-list">Be the first to add comment</p>
  {% endif %}
  <div class="poem-comments">
    {% for comment in poem.comments.all() %}
    <div class="comment-card">
      <p class="comment-heading">
        <span class="commenter">{{ 'You' if comment.users.id == current_user.id else comment.users.username}}</span>
        <span class="comment-date">{{comment.created_at}}</span>
      </p>
      <p class="comment-body">{{comment.comment}}</p>
      <p class="comment-footer">
        {% if comment.approved %}
        <span class="comment-status">Approved</span>
        {% endif %} {% if comment.user_id == current_user.id %}
        <a
          href="/poems/{{poem.id}}/comments/{{comment.id}}/delete"
          class="delete-btn"
        >
          Delete
        </a>
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<p class="comments-restricted">Log in to comment</p>
{% endif %}
<script src="{{ url_for('static', filename='js/confirm_delete.js') }}"></script>
<script src="{{url_for('static', filename='js/toggle_more_actions.js')}}"></script>
<script src="{{ url_for('static', filename='js/stanzas_slider.js') }}"></script>
{% endblock main_content %}
