{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %} {% block
title %}
{{ poet.poet_name|title }}'s Profile{% endblock title %}
{% block main_content %}
<div class="poet-page__heading">
  <span class="poet-status {{'verified' if poet.verified else 'unverified'}}-poet">
    {{('verified' if poet.verified else 'unverified')|upper}}
  </span>
  <h1 class="main-content__title" title="Poet Username">{{ poet.poet_name }}</h1>
</div>
<p class="poet-metadata">
  <span class="became-poet-on">
    Became a poet on <strong>{{poet.became_poet_on}}</strong></span>
  </span>
  <span class="poet-gender">{{poet.gender|upper}}</span>
</p>
<div class="poet-page__main">
  <div class="poet-bio">
    <h4 class="embolden underline">About The Poet</h4>
    <p class="poet-bio__data">{{ poet.bio|replace('\n', '<br>')|safe if poet.bio else 'No Description' }}</p>
  </div>
  <div class="poet-other-poems">
    <h4 class="poet-other-poems__title">Selected Poems by Same Author</h4>
    <div class="poems-container">
      {% if not other_poems %}
      <p class="empty-list">
        No <span class="embolden">Other</span> Poem Composed By This Poet.
      </p>
      {% endif %}
      {% for poem in other_poems %}
      {{ macros.poem_card_widget(poem, current_user) }}
      {% endfor %}
    </div>
    {% if other_poems|length + 1 < poet.poems.all()|length  %}
      <a class="action-btn view-more__btn action-btn__hp-2" href="{{url_for('poems.search', poet=poet.poet_name)}}">View More</a>
    {% endif %}
  </div>
</div>
{% endblock main_content %}