{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}
My {{ 'Poetic' if current_user.is_poet else 'To-Be-Poetic' }} Profile{% endblock title %}
{% block main_content %}
<div class="me-actions__box account-action__links">
  {% if not current_user.is_poet %}
  <a href="{{url_for('main.become_poet')}}" class="action-btn">Become a Poet</a>
  {% endif %}
  <a href="{{url_for('main.delete_me')}}" class="action-btn action-btn__hp-2">Delete Account</a>
</div>
<div class="me-form__container profile-form__container">
  <h2 class="form-title main-content__title">Update My Profile</h2>
  {{ wtf.quick_form(profile_form) }}
</div>
<hr />
<div class="me-form__container password-form__container">
  <h2 class="form-title update-password__title">Update Password</h2>
  {{ wtf.quick_form(password_form) }}
</div>
<script src="{{ url_for('static', filename='js/confirm_delete.js') }}"></script>
{% endblock main_content %}