{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}All Notifications{% endblock title %}
{% block main_content %}
<h1 class="main-content__title">All Notifications</h1>
<div class="notifications-container">
  {% if notifications|count == 0 %}
    <p class="empty-list">
      No notifications at the moment.
    </p>
  {% endif %}
  {% for notification in notifications %}
    <div class="notification-card {{'unread-notification' if notification.unread else ''}}">
      <p class="notification-header">
        <span class="notification-type">{{notification.type_|upper}}</span>
        <span class="notification-date">{{notification.created_at}}</span>
      </p>
      <p class="notification-body">{{notification.content}}</p>
      <p class="notification-footer">
        <span class="notification-user">{{notification.get_user()}}</span>
        <span class="notification-id">{{notification.id}}</span>
      </p>
      {% if current_user.is_poet %}
        <div class="unread-checkbox" data-mark-endpoint="{{ url_for('poems.mark_notification', notification_id=notification.id) }}">
          <input type="checkbox" name="n_read" id="{{ notification.id }}" {% if not notification.unread %}checked{% endif %}>
          <label for="{{ notification.id }}">Mark as {{ 'Read' if notification.unread else 'Unread' }}</label>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
<script src="{{url_for('static', filename='js/mark_notification.js')}}"></script>
{% endblock main_content %}