@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #222;
  position: relative;
  min-height: 100vh;
  margin-bottom: 3rem;
  background-color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #bbb;
  margin: 1.5rem 0;
}

.underline {
  text-decoration: underline;
}

input, select, textarea {
  border: 1px solid #e54b4b !important;
  border-radius: 5px;
}

input[type='checkbox'] {
  min-width: 20px;
  min-height: 20px;
  margin-right: .3rem;
}

select {
  background-color: #eee;
  color: #222;
  appearance: none;
  padding: .2rem .5rem;
  width: 100%;
  background: url(../assets/down_arrow.png) no-repeat right #ddd;
  -webkit-appearance: none;
  background-position: center right;
  background-size: 24px;
}

select option {
  font-family: 'Dancing Script', cursive;
  background-color: #eee;
  color: #e54b4b;
}

.help-block {
  color: #e54b4b;
  font-size: 1.3rem;
  font-weight: 700;
}

.toast-card {
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
}

.error-toast {
  color: #e54b4b;
  background-color: rgba(255, 166, 0, 0.534);
}

.msg-toast {
  background-color: rgba(0, 128, 0, 0.335);
  color: #1c521c;
}

.redden {
  color: #e54b4b !important;
  font-weight: bolder;
}

.new-user__text {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #222;
}

.app-logo {
  color: #eee;
  font-family: "Monoton", cursive;
  font-size: calc(1.5rem + 1.5vmin);
  font-weight: 700;
  flex-grow: 1;
}

.app-logo .redden {
  color: #e54b4b !important;
}

.app-navbar {
  font-size: calc(.8rem + 1vmin);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: auto;
}

.app-navbar a {
  color: #fff;
  background-color: #e54b4b;
  padding: .1rem .5rem .2rem;
  border: 1px solid #bbb;
  transition: all 200ms ease-in-out;
}

.app-navbar a:hover {
  background-color: #222;
  transition: all 200ms ease-in-out;
}

.app-main__content {
  margin: auto;
  max-width: 1240px;
  position: relative;
  padding: 2rem 0.5rem;
}

.app-main__content .welcome-box {
  margin: 1.2rem 0 0;
  position: relative;
}

.app-main__content .welcome-text {
  font-size: 1.5rem;
  padding: .3rem 0 0;
}

.black-liner {
  width: 100%;
  height: 5px;
  background-color: black;
  border: none;
  border-radius: 50%;
  margin: 0 0 1.5rem;
}

.app-main__content .main-content__title {
  text-align: center;
  font-size: calc(1.5rem + 1.5vmin);
  margin-bottom: .5rem;
  color: #222;
  text-transform: capitalize;
}

.all-categories__name {
  display: flex;
  overflow: auto hidden;
  margin: 1rem 0;
  border-bottom: 2px solid #bbb;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.all-categories__name::-webkit-scrollbar {
  display: none;
}

.all-categories__name .category-name {
  padding: .5rem 1.5rem;
  color: #666356;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.all-categories__name .category-name:hover {
  background-color: #eee;
}

.app-main__content .form,
.app-main__content .form-group {
  display: flex;
  flex-direction: column;
}

.app-main__content .form {
  gap: 1rem;
}

.app-main__content>.form {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
}

.app-main__content .form-group {
  gap: 0.2rem;
}

.form-control {
  width: 100% !important;
}

.app-main__content .form-control {
  outline: none;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  padding: 0.2rem;
  border: 1px solid #222;
}

.app-main__content .form .checkbox>label {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  color: #e54b4b;
  font-size: 1.5rem;
}

.app-main__content input[type="submit"] {
  font-size: 1.5rem;
  background-color: #e54b4b;
  color: #eee;
  padding: 0.5rem 0;
  border: none;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.app-main__content .app-about {
  display: flex;
  flex-direction: column;
  gap: 1;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 2rem 0;
}

.app-about .join-me {
  width: max-content;
  padding: .5rem 1rem;
  align-self: center;
  background-color: #222;
  color: #eee;
  text-align: center;
  margin: 1rem 0 0;
  border-radius: 10px;
}

.app-about .heading {
  color: #e54b4b;
  text-align: end;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  font-size: calc(2.5rem + 1vmin);
}

.app-about .subheading::before {
  content: "[";
  color: #e54b4b;
}

.app-about .subheading::after {
  content: "]";
  color: #e54b4b;
}

.app-about .subheading {
  font-size: calc(1.5rem + 1vmin);
  margin: 2rem 0;
  text-align: center;
}

.app-about .mission-story {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}

.app-about .reason-to {
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: #bbb;
}

.app-about>.reasons-list {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem 0;
  margin-bottom: 1.2rem;
}

.app-about>.reasons-list li {
  background-color: #e54b4b;
  color: #eee;
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
}

.app-about blockquote {
  background-color: #eee;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.app-about blockquote>span {
  text-align: end;
  align-self: flex-end;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.app-main__content .create-poem-container {
  margin: 1rem 0 2rem;
  text-align: end;
}

.create-poem-container a {
  background-color: #e54b4b;
  border: 1px solid #bbb;
  padding: 0.5rem 1rem;
  color: #eee;
  text-decoration: none;
  font-size: 1.5rem;
}

.app-main__content .create-category-link {
  margin: 1rem auto;
  max-width: max-content;
  display: block;
  text-align: center;
  font-size: calc(1rem + 1vmin);
}

.app-main__content .poems-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 1rem 0;
}

.poems-container .poem-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  padding: 1rem .5rem;
  color: #222;
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
}

.poems-container>a {
  text-decoration: none;
}

.poem-card .poem-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid #bbb;
}

.poem-card .poem-desc {
  background-color: #eee;
  color: #e54b4b;
  padding: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.poem-card .poem-metadata {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.poem-metadata {
  display: flex;
  gap: 0.4rem;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  background-color: #222;
  padding: .2rem .8rem;
  border-radius: 20px;
}

.poem-metadata .poem-creation__date {
  color: grey;
}

.poem-metadata .poem-rating {
  color: rgb(167, 167, 1);
  font-weight: 800;
}

.poem-metadata .poem-rating::before {
  content: '\2605';
  margin-right: .2rem;
}

.poem-metadata .poem-category {
  text-transform: uppercase;
  color: orange;
  font-family: "Space Mono", monospace;
}

.poem-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #222;
  font-weight: 700;
  font-size: 1.2rem;
}

.poem-card .card-footer .poem-author {
  text-transform: uppercase;
  color: #e54b4b;
}

.poem-card .card-footer .poem-premium {
  border-radius: 20px;
  padding: 0.05rem 0.6rem;
}

.poem-card .card-footer .is-premium {
  background-color: gold;
}

.poem-card .card-footer .not-premium {
  background-color: cyan;
}

.app-main__content>.poem-desc,
.app-main__content>.poem-stanzas {
  font-size: calc(1.5rem + 0.6vmin);
  line-height: 2.5rem;
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.app-main__content>.poem-desc .poem-desc__heading,
.app-main__content>.poem-stanzas .poem-stanzas__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  color: #222;
  padding: 0.5rem 1rem;
  font-size: calc(1.5rem + 1vmin);
  background-color: #bbb;
}

.app-main__content>.poem-desc .poem-desc__content,
.app-main__content>.poem-stanzas .poem-stanzas__container {
  width: 60%;
  flex-grow: 1;
  background-color: #222;
  color: #eee;
  padding: 0.5rem 1rem;
}

.app-main__content>.poem-desc .poem-desc__content {
  font-size: calc(.8rem + 2vmin);
  white-space: pre-line;
  font-family: 'Quicksand', sans-serif;
}

.poems-container .poem-card .poem-title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view-author__link {
  color: #e54b4b;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
  font-size: calc(.8rem + 1vmin);
  display: block;
  margin: .5rem 0 1rem;
}

.poem-stanzas>.poem-stanzas__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem !important;
  flex-basis: 400px;
  justify-content: center;
  align-items: flex-start;
}

.poem-stanzas__container>.no-stanza-text {
  color: orange;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.poem-stanzas__container>.add-stanza {
  text-decoration: none;
  color: #222;
  background-color: #eee;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
}

.poem-stanzas__container>.poem-stanza__card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.poem-stanza__card .stanza-number {
  font-size: 1rem;
  font-weight: 900;
  background-color: #e54b4b;
  color: #eee;
  align-self: flex-start;
  padding: 0 1rem 0 .8rem;
  /* width: calc(); */
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -12px;
}

.poem-stanza__card .stanza-content {
  font-family: "Space Mono", monospace;
  font-style: italic;
  padding: 0.5rem 1rem;
  border: 1px solid #333121;
  border-top: 8px solid #fff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  white-space: pre-line;
  word-spacing: -0.4rem;
  font-size: calc(1rem + 0.8vmin);
}

.poem-stanzas__container .slider-btns {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.slider-btns button {
  font-size: 1.5rem;
  color: #eee;
  background-color: #e54b4b;
  border: none;
  padding: .3rem .6rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #666356;
}

.slider-btns .what-stanza__number {
  color: #eee;
  font-family: 'Space Mono', monospace;
}

.what-stanza__number #what-number {
  font-weight: 700;
}

.poem-stanza__card .stanza-metadata {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #bbb;
  color: #222;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: calc(0.5rem + 1vmin);
}

.stanza-metadata>span:nth-child(even) {
  margin-left: auto;
  text-align: end;
}

.poem-stanza__card .stanza-action__links {
  z-index: 1;
  margin-bottom: -1.8rem;
  align-self: center;
  border: 1px solid #bbb;
  border-radius: 20px;
}

.poem-action__links {
  margin: 2rem 0;
  justify-content: center;
}

.poem-action__links,
.stanza-action__links {
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 1vmin);
}

.poem-action__links>a,
.stanza-action__links>a {
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.5rem;
  text-transform: uppercase;
  background-color: #1c521c;
  color: #eee;
}

.poem-action__links>a:first-child,
.stanza-action__links>a:first-child {
  background-color: #e54b4b;
  color: #eee;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.poem-action__links>a:last-child,
.stanza-action__links>a:last-child {
  padding: 0 0.8rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.poem-action__links>a {
  padding: .5rem 1rem !important;
}

.add-comment__form-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: .5rem;
  border-radius: 5px;
  background-color: #fff;
  margin: 3rem 0;
}

.comments-container {
  margin-top: 1.5rem;
}

.comments-container .comments-title {
  color: #e54b4b;
  font-size: 2rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comments-title .comment-title__text {
  margin: 1rem 0.5rem;
  font-size: calc(1rem + 2vmin);
}

.comments-container .comments-title .black-dot {
  width: calc(.5rem + .5vmin);
  height: calc(.5rem + .5vmin);
  border-radius: 50%;
  background-color: #bbb;
}

.comments-container .poem-comments {
  border: 1px solid #bbb;
  padding: .5rem 0;
  background-color: #fff;
}

.poem-comments .comment-card {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #bbb;
}

.poem-comments .comment-card:last-child {
  border-bottom: none;
}

.comment-card .comment-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: calc(.6rem + 1.5vmin);
  font-weight: 700;
}

.comment-card .comment-heading .commenter {
  color: #e54b4b;
  text-transform: uppercase;
}

.comment-card .comment-heading .comment-date {
  color: grey;
  background-color: #fff;
  padding: 0 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
}

.comment-card .comment-body {
  font-size: 1.5rem;
  color: #333121;
  font-weight: 300;
}

.comment-card .comment-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
}

.comment-card .comment-footer .comment-status {
  color: green;
  font-size: larger;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

.comment-card .delete-btn {
  padding: 0.2rem 1.2rem;
  text-align: center;
  background-color: #e54b4b;
  text-decoration: none;
  color: #eee;
  margin-left: auto;
  border-radius: 20px;
  font-size: 1.2rem;
}

.comments-restricted {
  color: #e54b4b;
  text-align: center;
  font-size: calc(2rem + 1.5vmin);
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #bbb;
}

/* Pagination Widget style */
.pagination-container {
  padding: .5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  border-radius: 20px;
}

.pagination-container .page-items__count {
  color: #eee;
}

.pagination-container .disabled {
  opacity: .5;
}

.pagination-container .prev-page,
.pagination-container .next-page {
  background-color: #eee;
  color: #e54b4b;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-bottom: .2rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

.empty-list,
.poetic-motivation {
  text-align: center;
}

.unread-n__count {
  font-size: calc(.5rem + .5vmin);
}

.empty-list {
  line-height: 2.2rem;
  padding: 2rem .5rem;
  font-size: calc(1rem + 1vmin);
  text-transform: uppercase;
  color: #666356;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.poetic-motivation {
  color: #666356;
  font-size: calc(.6rem + .8vmin);
  font-style: italic;

}

.poetic-motivation a {
  color: #e54b4b;
  font-weight: bold;
  text-decoration: underline;
}

.poetic-motivation a:hover {
  opacity: .8;
}

.http-error-msg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  color: #e54b4b;
}

.http-error-msg .error-code {
  font-size: calc(4rem + 2vmin);
  font-family: 'Space Mono', monospace;
  padding: 3rem;
  border-radius: 50%;
  border: 1px solid #e54b4b;
}

.http-error-msg .error-msg {
  font-size: calc(1.5rem + 1vmin);
  line-height: 1.2;
  margin: 0 .5rem;
}

.more-actions__container {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #eee;
}

.more-actions__container #more-action__toggler {
  font-size: 1.5rem;
  padding: .3rem .7rem;
  background-color: #e54b4b;
  border-radius: 3px;
  cursor: pointer;
}

.more-actions__container .more-actions__box {
  position: absolute;
  right: 0;
  z-index: 2;
  width: max-content;
  display: flex;
  flex-direction: column;
  background-color: #e54b4b;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 5px;
}

.more-actions__box>.more-action__btn {
  border: none;
  background-color: transparent;
}

.more-actions__box>a,
.more-actions__box>.more-action__btn {
  color: #eee;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  padding: .4rem 1rem;
  border-bottom: 1px solid #730606;
}

.more-actions__box>a:last-child {
  border-bottom: none;
}

.hidden {
  display: none !important;
}

.poem-completion {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: center;
  padding: .1rem 1rem .2rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  width: 140px;
}

.poem-completed {
  color: #eee;
  background-color: #1c521c;
}

.poem-progress {
  color: #222;
  background-color: rgb(241, 184, 163);
}

.app-navigation__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #222;
  color: #ddd;
  overflow: auto hidden;
}

.app-navigation__container .app-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1240px;
  overflow: auto hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-navigation__container .app-nav-items::-webkit-scrollbar {
  display: none;
}

.app-nav-items .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2rem;
  font-weight: 700;
  width: max-content;
  font-size: calc(.5rem + 1vmin);
  flex-grow: 1;
  padding: .6rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.app-nav-items .nav-item>i {
  font-size: calc(1rem + 1vmin);
}

.app-nav-items .nav-item__active {
  border-top: 3px solid #e54b4b;
  color: #e54b4b;
  background-color: #fff;
}

.app-navbar .darken {
  background-color: #222;
  color: #eee;
}

.nav-item__active-parent::before {
  content: '[';
}

.nav-item__active-parent::after {
  content: ']';
}

.update-password__title {
  color: #e54b4b;
  border-color: #e54b4b;
}

.me-form__container .form-title {
  font-size: calc(1.2rem + 1vmin);
  text-align: center;
  padding: .5rem .1rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #222;
}

.me-form__container {
  border: 1px solid #bbb;
  background-color: #fff;
  padding: .5rem;
  border-radius: 5px;
}

.profile-form__container input[type='submit'] {
  background-color: #222;
}

.me-form__container input[type='submit'] {
  border: none;
}

.me-actions__box {
  display: flex;
  margin: 1rem 0 2rem;
  gap: .5rem;
  justify-content: flex-end;
}

.action-btn {
  background-color: #222;
  color: #eee;
  border: 1px solid #bbb;
  font-size: calc(.6rem + 1vmin);
  padding: .5rem 1rem;
}

/* Higher Priority 2 action button */
.action-btn__hp-2 {
  background-color: #e54b4b;
}

/* Notifications Elements Styles */

.notifications-container,
.notifications-container .notification-card {
  display: flex;
  flex-direction: column;
}

.notifications-container {
  margin: 1rem 0;
}

.notifications-container .notification-card {
  gap: .2rem;
  padding: .5rem 0;
  border-bottom: .5px solid #bbb;
  position: relative;
}

.notification-card:last-child {
  border-bottom: none;
}

.notification-header,
.notification-body,
.notification-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem .5rem;
  gap: .5rem;
}

.notification-header {
  color: #666356;
}

.unread-notification {
  font-weight: bold;
}

.notification-body {
  min-height: 3rem;
}

.notification-footer {
  color: #e54b4b;
}

.notification-footer .notification-user {
  flex-basis: 50%;
}

.notification-footer .notification-id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unread-checkbox {
  align-self: center;
  background-color: #eee;
  padding: .2rem .5rem;
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: .4rem;
  cursor: pointer;
  color: #e54b4b;
  border-radius: 20px;
}

.unread-checkbox label {
  font-size: calc(.8rem + .6vmin);
}

.unread-checkbox input[type='checkbox'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px !important;
  height: 25px !important;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #e54b4b;
  box-shadow: none;
  font-size: calc(1rem + .4vmin);
}

.unread-checkbox input[type='checkbox']:checked {
  background-color: #fff;
}

.unread-checkbox input[type='checkbox']:checked::after {
  content: '\2713';
  color: #e54b4b;
}

/* Search Poems Container */
.search-page__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.search-page__hero .main-content__title {
  text-align: center;
  vertical-align: middle;
  padding: .2rem .5rem;
}

.search-page__hero img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  border-right: 5px solid #e54b4b;
  border-left: 5px solid #e54b4b;
  object-fit: cover;
  filter: opacity(.5) drop-shadow(0 0 #e54b4b);
}

.search-poems__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-poems__container .filters-box, 
.search-poems__container .results-container {
  border-radius: .3rem;
}

.search-poems__container .filters-box {
  padding: .5rem;
  border: 1px solid #bbb;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  flex-basis: 30%;
}

.filters-box .filter-box__title {
  font-size: calc(.5rem + 1.5vmin);
}

.search-poems__container .results-container {
  flex-grow: 2;
  flex-basis: 60%;
}

.search-poems__container .poems-container {
  border: none;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .search-poems__container .filters-box {
    position: static;
  }
}

/* Poet Page */
.poet-bio {
  font-size: calc(1rem + 1.5vmin);
  text-align: center;
  font-stretch: 50%;
}

.poet-page__heading {
  position: relative;
  min-height: 3rem;
}

.poet-page__heading .main-content__title {
  text-align: center;
}

.poet-page__heading .poet-status {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: calc(.8rem + 1.2vmin);
  color: #fff;
  padding: .3rem 1rem;
  transform: scale(.7) rotate(30deg);
}

.verified-poet {
  background-color: #e54b4b;
}

.unverified-poet {
  background-color: #730606;
}

.poet-other-poems {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  gap: .2rem;
  color: #eee;
  padding: 1rem .3rem;
  border-top: 5px solid #e54b4b;
  background-color: #222;
}

.poet-other-poems .poems-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
}


.poet-other-poems .poet-other-poems__title {
  font-size: calc(.8rem + 1vmin);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid #bbb;
  text-align: end;
}

.poet-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #222;
  color: #eee;
  padding: .3rem .5rem;
  border-bottom: 5px solid #e54b4b;
}

.poet-metadata .poet-gender {
  color: #fff;
  font-weight: 700;
  flex-grow: 1;
  text-align: end;
}