@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;

  --bg-primary-color: #e5dbff;
  --bg-secondary-color: #001c40;
  --bg-color-shade-1: #5ee0be;
  --bg-color-shade-2: #183153;

  --color-error: #e54b4b;

  --text-primary-color: #222;
  --text-secondary-color: #5ee0be;
  --text-color-shade-1: #e5dbff;

  --font-family-brand-1: "Quicksand", sans-serif;

  --border-primary-color: var(--bg-primary-color);
  --border-secondary-color: #e3e2e8;
  --border-color-shade-1: #183153;
}

body {
  font-family: var(--font-family-brand-1);
  color: var(--text-primary-color);
  position: relative;
  min-height: 100vh;
  margin-bottom: 4rem;
  background: linear-gradient(120deg, #c7cefa, #e3e2e8);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--bg-color-shade-2);
  border: none;
}

.underline {
  text-decoration: underline;
}

input,
select,
textarea {
  border: 1px solid var(--border-primary-color) !important;
  border-radius: 5px;
}

input[type="file"] {
  padding: 0.2rem 0.5rem 0.4rem !important;
  color: var(--border-primary-color) !important;
  display: flex;
  gap: 1rem;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  margin-right: 0.3rem;
}

select {
  background-color: var(--bg-primary-color) !important;
  color: var(--text-color-shade-2);
  appearance: none;
  width: 100%;
  background: url(../assets/down_arrow.png) no-repeat right
    var(--text-color-shade-1);
  -webkit-appearance: none;
  background-position: center right;
  background-size: 20px;
}

.text-center {
  text-align: center;
}

select option {
  color: var(--text-color-shade-2);
  background-color: var(--bg-primary-color);
}

.help-block {
  color: var(--bg-color-shade-2);
  font-size: calc(0.6rem + 0.6vmin);
  font-weight: 700;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.toast-card {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;

  padding: 10px;
  border-radius: 5px;
  font-size: calc(0.6rem + 0.8vmin);
  background-color: #fff;
  border: 2px solid;
  font-weight: 500;

  animation: fadeOut 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 2s;
}

.error-toast {
  color: var(--color-error);
  border-color: var(--color-error);
}

.msg-toast {
  border-color: var(--border-primary-color);
  color: var(--bg-color-shade-2);
}

.embolden {
  color: var(--bg-color-shade-2) !important;
  font-weight: bold;
}

.new-user__text {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--bg-secondary-color);
}

.app-logo {
  color: #eee;
  font-family: "Monoton", cursive;
  font-size: calc(1.5rem + 1.5vmin);
  font-weight: 700;
}

.app-logo .differentiate {
  color: var(--text-secondary-color) !important;
}

.app-navbar {
  margin-left: auto;
}

.app-navbar a {
  color: var(--text-primary-color);
  background-color: var(--bg-color-shade-1);
  font-weight: 600;
  font-size: calc(0.8rem + 1.5vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.app-navbar a:hover {
  background-color: var(--bg-primary-color);
  transition: all 200ms ease-in-out;
}

.app-main__content {
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
  padding: 2rem 0.5rem;
}

.app-main__content .welcome-box {
  margin: 1.2rem 0 0;
  position: relative;
}

.app-main__content .welcome-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.3rem 0 0;
}

.black-liner {
  width: 100%;
  height: 5px;
  background-color: var(--bg-secondary-color);
  border: none;
  border-radius: 50%;
  margin: 0 0 1.5rem;
}

.app-main__content .main-content__title {
  text-align: center;
  font-size: calc(1.5rem + 1.5vmin);
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 0.5rem;
  color: var(--bg-secondary-color);
  text-transform: uppercase;
}

.all-categories__name,
.resource-types {
  display: flex;
  overflow: auto hidden;
  margin: 1rem 0;
  border-bottom: 2px solid var(--bg-color-shade-1);
  background-color: var(--bg-color-shade-2);
  border: none;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.all-categories__name::-webkit-scrollbar,
.resource-types::-webkit-scrollbar {
  display: none;
}

.all-categories__name .category-name,
.resource-types .resource-type {
  padding: 0.5rem 1.5rem;
  color: var(--bg-primary-color);
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.resource-types .resource-type {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  align-items: center;
}

.create-resource__container {
  background-color: #fff;
  padding: 1rem 0.5rem;
  font-size: calc(0.8rem + 1vmin);
  border-radius: 10px;
  border: 1px solid var(--border-secondary-color);
}

.resource-types .resource-type__active,
.all-categories__name .category-name__active {
  background-color: #fff;
  color: var(--text-primary-color);
  border: 1px solid var(--bg-primary-color);
  font-weight: 700;
}

.app-main__content .form,
.app-main__content .form-group {
  display: flex;
  flex-direction: column;
}

.app-main__content .form {
  gap: 1rem;
}

.app-main__content > .form,
.new-category__container .form {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--bg-color-shade-1);
}

.new-category__container .form {
  margin-top: 0.3rem;
}

.new-category__container > h3 {
  color: var(--text-color-shade-1);
}

.new-category__container {
  background-color: var(--bg-color-shade-2);
  padding: 1rem calc(1.5rem - 1vmin) 2rem;
  border-radius: 20px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.categories-container .category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  flex-basis: 200px;
  flex-grow: 1;
  position: relative;

  background-color: #fff;
  border: 1px solid var(--border-color-shade-1);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: calc(0.8rem + 0.6vmin);
}

.category-card .category-desc {
  color: var(--text-color-shade-1);
  background-color: var(--bg-secondary-color);
  padding: 0.2rem 0.3rem 0.3rem;
  border-radius: 10px;
  flex-grow: 1;
}

.category-card .category-metadata {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  font-size: calc(0.4rem + 0.5vmin);
}

.category-card > a {
  position: absolute;
  top: 5px;
  right: 10px;
}

.category-metadata .category-date {
  color: var(--text-secondary-color);
  font-weight: 600;
}

.app-main__content .form-group {
  gap: 0.2rem;
}

.form-control {
  width: 100% !important;
  font-family: var(--font-family-brand-1);
}

.app-main__content .form-control,
input[type="file"] {
  outline: none;
  font-size: 1.5rem;
  padding: 0.2rem;
  border: 1px solid var(--bg-primary-color);
}

.app-main__content .form .checkbox > label {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  color: var(--text-primary-color);
  font-size: 1.5rem;
}

.app-main__content input[type="submit"] {
  font-size: 1.5rem;
  background-color: var(--bg-color-shade-1);
  color: var(--text-primary-color);
  padding: 0.5rem 0;
  border: none;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.app-main__content .app-about {
  display: flex;
  flex-direction: column;
  gap: 1;
  font-size: calc(0.8rem + 1vmin);
  line-height: 2.2rem;
  padding: 2rem 0;
}

.app-about .join-me {
  width: 100%;
  padding: 0.6rem 1rem;
  align-self: center;
  border-radius: 10px;
  background-color: var(--bg-color-shade-2);
  font-weight: 500;
  box-shadow: -5px 5px 2px 2px var(--bg-color-shade-1);
  color: #fff;
  text-align: center;
  margin: 1rem 0 0;
}

.app-about .heading,
.app-features .heading {
  color: var(--bg-secondary-color);
  text-align: center;
  margin: 1rem;
  font-weight: 900;
  font-size: calc(2.5rem + 1vmin);
}

.app-about .subheading::before {
  content: "[";
  color: var(--bg-color-shade-1);
}

.app-about .subheading::after {
  content: "]";
  color: var(--bg-color-shade-1);
}

.app-about .mission-story {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}

.app-about .mission-story .intro {
    font-style: italic;
    background-color: var(--bg-color-shade-2);
    color: var(--text-color-shade-1);
    padding: .2rem .5rem;
    border-radius: 5px;
}

.mission-story .fictional-chats {
    display: flex;
    flex-wrap: wrap;
}

.mission-story .fictional-chats > img {
    margin: auto;

}

.mission-story .fictional-chats-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    background-color: #fff;
    max-height: 500px;
    max-width: 700px;
    overflow: auto;
    padding: 1rem;
    border: 1px solid var(--border-primary-color);
}

.fictional-chats-container > div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.fictional-chats-container > div span {
    text-align: end;
    font-weight: 500;
    font-size: .6rem;
    color: var(--text-primary-color);
}

.fictional-chats-container blockquote {
    padding: .3rem .5rem;
    line-height: 1.5;
    font-size: 0.8rem;
    border-radius: 5px;
    font-family: "Space Mono", monospace;
}

.fictional-chats-container div:nth-child(odd) {
    align-self: flex-start;
}

.fictional-chats-container div:nth-child(even) {
    align-self: flex-end;
}

.fictional-chats-container div:nth-child(odd) blockquote {
    background-color: var(--bg-color-shade-1);
    color: var(--text-color-shade-2);
}

.fictional-chats-container > div:nth-child(even) blockquote {
    background-color: var(--bg-color-shade-2);
    color: var(--text-color-shade-1);
}

.app-about .box-2 {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap-reverse;
    margin-bottom: 1rem;
}

.box-2 .fictional-chats-container {
    width: 60%;
    flex-grow: 1;
}

.app-about .reasons-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem 0;
  margin-bottom: 1.2rem;
}

.app-about .reasons-container {
    flex-grow: 1;
}

.app-about .reasons-container h3 {
    color: var(--text-color-shade-2);
}

.app-about .reasons-list li {
  background-color: var(--bg-color-shade-1);
  color: var(--text-primary-color);
  padding: 0.1rem 0.8rem;
  white-space: nowrap;
  font-size: calc(0.8rem + 0.6vmin);
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
}

.app-features {
    margin: 1rem 0;
    background-color: #fff;
    padding: 1rem;
}

.app-features .features-container {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.app-features .features-container .feature {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.feature img {
    width: 50%;
    flex-grow: 1;
}

.feature > div {
    width: 45%;
    flex-grow: 1;
    padding: 0 .5rem 0 0;
}

.features-container hr {
    background-color: var(--border-secondary-color);
}

.feature > div h3 {
    color: var(--text-primary-color);
    font-size: calc(.8rem + .8vmin);
}

.app-main__content .create-poem-container {
  margin: 1rem 0 2rem;
  text-align: end;
}

.create-poem-container a {
  background-color: var(--bg-secondary-color);
  border-radius: 5px;
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: calc(0.8rem + 0.8vmin);
  color: var(--text-color-shade-1);
  font-weight: 600;
}

.app-main__content .create-category-link {
  margin: 1rem auto;
  max-width: max-content;
  display: block;
  text-align: center;
  font-size: calc(1rem + 1vmin);
}

.app-main__content .poems-container,
.resources-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem 0;
}

.poems-container .poem-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  color: var(--text-primary-color);
  border: 1px solid var(--border-secondary-color);
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
}

.poems-container > a {
  text-decoration: none;
}

.poem-card .poem-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid var(--bg-primary-color);
}

.poem-card .poem-desc {
  background-color: #eee;
  color: var(--bg-color-shade-1);
  padding: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.poem-card .poem-metadata {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.poem-metadata {
  display: flex;
  gap: 0.4rem;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  background-color: var(--text-primary-color);
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
}

.poem-metadata .poem-creation__date {
  color: grey;
}

.poem-metadata .poem-rating {
  color: rgb(167, 167, 1);
  font-weight: 800;
}

.poem-metadata .poem-rating::before {
  content: "\2605";
  margin-right: 0.2rem;
}

.poem-metadata .poem-category {
  text-transform: uppercase;
  color: orange;
}

.poem-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.poem-card .card-footer .poem-author {
  text-transform: uppercase;
  color: var(--bg-color-shade-1);
}

.poem-card .card-footer .poem-premium {
  border-radius: 20px;
  padding: 0.05rem 0.6rem;
}

.poem-card .card-footer .is-premium {
  background-color: gold;
}

.poem-card .card-footer .not-premium {
  background-color: cyan;
}

.app-main__content > .poem-desc,
.app-main__content > .poem-stanzas {
  font-size: calc(1.5rem + 0.6vmin);
  line-height: 2.5rem;
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.app-main__content > .poem-desc .poem-desc__heading,
.app-main__content > .poem-stanzas .poem-stanzas__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 40%;
  text-transform: uppercase;
  color: var(--bg-color-shade-1);
  padding: 0.5rem 1rem;
  font-size: calc(1rem + 1.2vmin);
  background-color: #fff;
}

.app-main__content > .poem-desc .poem-desc__content,
.app-main__content > .poem-stanzas .poem-stanzas__container {
  flex-grow: 1;
  min-width: 60%;
  background-color: var(--bg-secondary-color);
  color: #eee;
  padding: 0.5rem 1rem;
}

.app-main__content > .poem-desc .poem-desc__content {
  font-size: calc(0.8rem + 1.5vmin);
  font-family: "Quicksand", sans-serif;
}

.poems-container .poem-card .poem-title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.poem-stanzas > .poem-stanzas__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem !important;
  flex-basis: 400px;
  justify-content: center;
  align-items: flex-start;
}

.poem-stanzas__container > .add-stanza {
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--bg-color-shade-1);
  width: 100%;
  text-align: center;
  font-size: calc(0.8rem + 0.8vmin);
  border-radius: 20px;
  font-weight: 600;
}

.poem-stanzas__container > .poem-stanza__card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.poem-stanza__card .stanza-number {
  font-size: calc(0.6rem + 0.5vmin);
  font-weight: 700;
  text-align: center;
  background-color: var(--bg-primary-color);
  color: var(--bg-color-shade-2);
  border-radius: 50%;
  padding: 0.4rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
}

.poem-stanza__card .stanza-content {
  font-family: "Space Mono", monospace;
  font-style: italic;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-secondary-color);
  border-top: 8px solid var(--border-primary-color);
  border-bottom: 8px solid var(--border-primary-color);
  border-radius: 5px;
  white-space: pre-line;
  word-spacing: -0.4rem;
  font-size: calc(0.8rem + 0.6vmin);
}

.poem-stanzas__container .slider-btns {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.slider-btns button {
  font-size: 1.5rem;
  color: #eee;
  background-color: var(--bg-color-shade-1);
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px var(--bg-primary-color);
}

.slider-btns .what-stanza__number {
  color: var(--text-color-shade-1);
  font-family: "Space Mono", monospace;
}

.what-stanza__number #what-number {
  font-weight: 700;
}

.poem-stanza__card .stanza-metadata {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #fff;
  color: var(--bg-color-shade-2);
  padding: 0.5rem;
  border-left: 5px solid var(--bg-color-shade-1);
  border-right: 5px solid var(--bg-color-shade-1);
  border-radius: 5px;
  /* font-family: 'Space Mono', monospace; */
  line-height: 1rem;
  font-size: calc(0.5rem + 0.6vmin);
}

.stanza-metadata > span:nth-child(even) {
  margin-left: auto;
  text-align: end;
}

.poem-stanza__card .stanza-action__links {
  z-index: 1;
  position: absolute;
  top: -15px;
  align-self: center;
  border: 1px solid var(--border-secondary-color);
  border-radius: 20px;
}

.poem-action__links {
  margin: 2rem 0;
  justify-content: center;
}

.poem-action__links,
.stanza-action__links,
.resource-action__links,
.account-action__links {
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 1vmin);
}

.poem-action__links > a,
.stanza-action__links > a,
.resource-action__links > a {
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.5rem;
  text-transform: uppercase;
  color: #eee;
}

.poem-action__links > a:first-child,
.stanza-action__links > a:first-child,
.resource-action__links > a:first-child {
  background-color: var(--color-error);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.poem-action__links > a:last-child,
.stanza-action__links > a:last-child,
.resource-action__links > a:last-child {
  padding: 0 0.8rem;
  background-color: var(--bg-secondary-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.poem-action__links > a,
.resource-action__links > a {
  padding: 0.5rem 1rem !important;
}

.add-comment__form-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  margin: 3rem 0;
}

.comments-container {
  margin-top: 1.5rem;
}

.comments-container .comments-title {
  color: var(--bg-color-shade-2);
  font-size: 2rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comments-title .comment-title__text {
  margin: 1rem 0.5rem;
  font-size: calc(1rem + 2vmin);
}

.comments-container .comments-title .black-dot {
  width: calc(0.5rem + 0.5vmin);
  height: calc(0.5rem + 0.5vmin);
  border-radius: 50%;
  background-color: var(--color-error);
}

.comments-container .poem-comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.poem-comments .comment-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex-basis: 100px;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.comment-card .comment-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: calc(0.8rem + 0.8vmin);
  font-weight: 700;
}

.comment-card .comment-heading .commenter {
  color: var(--bg-color-shade-1);
  text-transform: uppercase;
}

.comment-card .comment-heading .comment-date {
  color: var(--text-primary-color);
  font-size: 0.8rem;
  padding: 0.4rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
}

.comment-card .comment-body {
  font-size: 1.5rem;
  color: var(--bg-secondary-color);
}

.comment-card .comment-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
}

.comment-card .comment-footer .comment-status {
  color: var(--text-primary-color);
  font-size: larger;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

.comment-card .delete-btn {
  padding: 0.5rem 1.2rem;
  text-align: center;
  background-color: var(--color-error);
  text-decoration: none;
  color: var(--bg-primary-color);
  margin-left: auto;
  border-radius: 20px;
  font-size: 1.2rem;
}

.comments-restricted {
  color: var(--bg-color-shade-2);
  text-align: center;
  font-size: calc(2rem + 1.5vmin);
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--bg-color-shade-2);
}

/* Pagination Widget style */
.pagination-container {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-secondary-color);
  border-radius: 20px;
}

.pagination-container .page-items__count {
  color: var(--text-color-shade-1);
}

.pagination-container .disabled {
  opacity: 0.5;
}

.pagination-container .prev-page,
.pagination-container .next-page {
  background-color: var(--bg-color-shade-1);
  color: var(--text-color-shade-1);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-bottom: 0.2rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

.empty-list,
.poetic-motivation {
  text-align: center;
}

.unread-n__count {
  font-size: calc(0.5rem + 0.5vmin);
}

.empty-list {
  line-height: 2.2rem;
  padding: 2.2rem 0.5rem;
  font-size: calc(1.2rem + 0.8vmin);
  text-transform: uppercase;
  color: var(--color-error);
  font-weight: 300;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}

.poetic-motivation {
  color: var(--text-primary-color);
  font-size: calc(0.6rem + 0.8vmin);
  font-style: italic;
}

.poetic-motivation a {
  color: var(--bg-color-shade-2);
  font-weight: bold;
  text-decoration: underline;
}

.poetic-motivation a:hover {
  opacity: 0.8;
}

.http-error-msg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  color: var(--bg-color-shade-2);
}

.http-error-msg .error-code {
  font-size: calc(4rem + 2vmin);
  font-family: "Space Mono", monospace;
  padding: 3rem;
  border-radius: 50%;
  border: 1px solid var(--bg-color-shade-2);
}

.http-error-msg .error-msg {
  font-size: calc(1.5rem + 1vmin);
  line-height: 1.2;
  margin: 0 0.5rem;
}

.more-actions__container {
  position: absolute;
  bottom: 30px;
  right: 0;
  color: var(--text-color-shade-1);
}

.more-actions__container #more-action__toggler {
  font-size: 1.5rem;
  padding: 0.3rem 0.7rem;
  background-color: var(--bg-color-shade-2);
  border-radius: 3px;
  cursor: pointer;
}

.more-actions__container .more-actions__box {
  position: absolute;
  right: 0;
  margin-top: 0.2rem;
  z-index: 2;
  width: max-content;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-shade-2);
  text-align: center;
  border-radius: 5px;
}

.view-more__btn {
  align-self: center;
  margin-top: 0.5rem;
}

.more-actions__box > .more-action__btn {
  border: none;
  background-color: transparent;
}

.more-actions__box > a,
.more-actions__box > .more-action__btn {
  color: var(--text-color-shade-1);
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid var(--border-secondary-color);
}

.more-actions__box > a:hover,
.more-actions__box > .more-action__btn:hover {
  background-color: var(--bg-color-shade-1);
  color: var(--text-primary-color);
  font-weight: 600;
}

.more-actions__box > a:last-child {
  border-bottom: none;
}

.hidden {
  display: none !important;
}

.poem-completion {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
  padding: 0.1rem 1rem 0.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  width: 140px;
}

.poem-completed {
  color: var(--text-color-shade-1);
  background-color: var(--bg-secondary-color);
}

.poem-progress {
  color: var(--text-color-shade-1);
  background-color: var(--color-error);
}

.app-navigation__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--bg-secondary-color);
  color: var(--bg-primary-color);
  overflow: auto hidden;
}

.app-navigation__container .app-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1240px;
  overflow: auto hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-navigation__container .app-nav-items::-webkit-scrollbar {
  display: none;
}

.app-nav-items .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-weight: 700;
  width: max-content;
  font-size: calc(0.8rem + 1vmin);
  flex-grow: 1;
  padding: 0.6rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.app-nav-items .nav-item > i {
  font-size: calc(1rem + 1vmin);
}

.app-nav-items .nav-item__active {
  border-top: 3px solid var(--bg-color-shade-1);
  color: var(--bg-color-shade-1);
  background-color: #fff;
}

.nav-item__active-parent::before {
  content: "[";
}

.nav-item__active-parent::after {
  content: "]";
}

.update-password__title {
  border-color: var(--border-primary-color) !important;
}

.me-form__container .form-title {
  font-size: calc(1.2rem + 1vmin);
  text-align: center;
  padding: 0.5rem 0.1rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid var(--border-secondary-color);
}

.me-form__container {
  border: 1px solid var(--border-secondary-color);
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

.profile-form__container input[type="submit"] {
  background-color: var(--bg-secondary-color);
  color: var(--bg-primary-color);
}

.me-form__container input[type="submit"] {
  border: none;
}

.me-actions__box {
  display: flex;
  margin: 1rem 0 2rem;
  gap: 0.5rem;
  justify-content: flex-end;
}

.action-btn {
  background-color: var(--bg-color-shade-2);
  color: var(--text-color-shade-1);
  border-radius: 20px;
  font-weight: 700;
  font-size: calc(0.6rem + 1vmin);
  padding: 0.5rem 1.5rem;
}

/* Higher Priority 2 action button */
.action-btn__hp-1 {
  background-color: var(--color-error);
}

/* Higher Priority 2 action button */
.action-btn__hp-2 {
  background-color: var(--bg-secondary-color);
}

/* Search Poems Container */
.search-page__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.search-page__hero .main-content__title {
  text-align: center;
  vertical-align: middle;
  padding: 0.2rem 0.5rem;
}

.search-page__hero img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  border-right: 5px solid var(--bg-color-shade-1);
  border-left: 5px solid var(--bg-color-shade-1);
  object-fit: cover;
  filter: opacity(0.5) drop-shadow(0 0 var(--bg-color-shade-1));
}

.search-poems__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-poems__container .filters-box,
.search-poems__container .results-container {
  border-radius: 0.3rem;
}

.search-poems__container .filters-box {
  padding: 0.5rem;
  border: 1px solid var(--border-secondary-color);
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  flex-basis: 30%;
}

.filters-box .filter-box__title {
  font-size: calc(0.5rem + 1.5vmin);
}

.search-poems__container .results-container {
  flex-grow: 2;
  flex-basis: 60%;
}

.search-poems__container .poems-container {
  border: none;
  padding: 0;
}

/* Poet Page */
.poet-page__main {
  display: flex;
  gap: calc(1rem + 1vmin);
  flex-wrap: wrap;
  align-items: flex-start;
}

.poet-bio {
  flex-basis: 30%;
  flex-grow: 1;
  font-size: calc(1rem + 1vmin);
  color: var(--bg-color-shade-1);
  font-stretch: 50%;
  background-color: #fff;
  position: sticky;
  top: 1%;
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  border-left: 5px solid var(--bg-secondary-color);
}

.poet-bio .poet-bio__data {
  margin: 0.6rem 0 0;
}

.poet-page__heading {
  position: relative;
  min-height: 3rem;
}

.poet-page__heading .main-content__title {
  text-transform: uppercase;
  text-align: center;
}

.poet-page__heading .poet-status {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: calc(0.8rem + 1.2vmin);
  color: var(--text-color-shade-1);
  padding: 0.3rem 1rem;
  transform: scale(0.8) rotate(30deg);
}

.verified-poet {
  background-color: var(--bg-secondary-color);
}

.unverified-poet {
  background-color: var(--color-error);
}

.poet-other-poems {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  flex-grow: 1;
  gap: 0.3rem;
  color: #eee;
  padding: 1rem 0.5rem;
  border-top: 5px solid var(--bg-color-shade-1);
  background-color: var(--bg-color-shade-2);
}

.poet-other-poems .poems-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
}

.poet-other-poems .poet-other-poems__title {
  font-size: calc(0.8rem + 1vmin);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid var(--border-secondary-color);
  text-align: end;
}

.poet-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--bg-color-shade-2);
  color: #eee;
  padding: 0.3rem 0.5rem;
  border-bottom: 5px solid var(--bg-color-shade-1);
}

.poet-metadata .poet-gender {
  color: #fff;
  font-weight: 700;
  flex-grow: 1;
  text-align: end;
}

.resources-action__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0 0;
}

.resources-container {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

.resources-container .resource-card,
#selected-resource .resource-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

#selected-resource .resource-card {
  margin-top: 1rem;
}

#selected-resource .resource-card.expanded {
  width: 100%;
  height: auto;
  cursor: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
}

.resource-card .link-resource {
  color: var(--color-error);
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.resource-card .resource-card__top,
.resource-card .resource-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.resource-card .resource-card__top {
  border-bottom: 1px solid var(--border-secondary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.resource-card .resource-action__links {
  align-self: flex-end;
}

.resource-card .resource-metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
}

.resource-metadata .created-on {
  color: #666356;
  text-align: end;
}

.resource-metadata .creator {
  color: var(--text-primary-color);
  font-weight: 400 !important;
}

.resource-card .resource-preview {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.resource-preview img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.resource-card .title {
  font-size: calc(0.8rem + 0.8vmin);
  margin: 0.5rem 0;
  font-weight: 900;
  text-transform: uppercase;
  align-self: center;
  color: var(--bg-color-shade-2);
}

.resource-card .resource-card__bottom {
  border-top: 1px solid var(--border-secondary-color);
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.resource-card .approved-resource {
  align-self: flex-end;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: calc(0.8rem + 0.8vmin);
  padding: 0.7rem 0.5rem 0.5rem;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.resource-card .approved-resource:hover {
  opacity: 0.5;
}

.resource-card .resource-approved {
  background-color: green;
}

.resource-card .resource-unapproved {
  background-color: var(--color-error);
}

.resource-card .resource-votes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--bg-color-shade-1);
}

.resource-votes .upvote,
.resource-votes .downvote {
  display: flex;
  font-size: calc(0.8rem + 1vmin);
  gap: 0.1rem;
  align-items: center;
  font-weight: 500;
}

.resource-votes .has-voted {
  font-weight: 700;
  color: var(--color-error) !important;
}

.resource-votes .vote-count {
  align-self: flex-start;
}

.resource-card .image-resource,
.resource-card .resource-content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.resource-card .image-resource,
.resource-card .resource-link-summary,
.resource-card .resource-content .body {
  height: 250px;
  overflow: hidden;
}

.resource-card .image-resource img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resource-card.expanded .image-resource {
  height: 500px;
  overflow-y: visible;
}

.resource-card.expanded .resource-link-summary,
.resource-card.expanded .resource-content .body {
    height: auto;
    overflow: auto;
}

.resource-card.expanded .image-resource img {
  object-fit: contain !important;
  height: fit-content;
}

.resource-content .body {
  border: 1px solid var(--bg-color-shade-1);
  border-radius: 5px;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0.5rem 0.5rem 1rem;
}

.resource-content .body > ul,
.resource-content .body > ol {
  list-style-position: inside;
}

.resource-content .body a {
  color: var(--color-error);
  font-weight: 500;
}

/* Mobile Screens */
@media (max-width: 700px) {
  .search-poems__container .filters-box {
    position: static;
  }

  .poet-bio {
    position: static !important;
  }
}
