@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #000;
  position: relative;
  min-height: 100vh;
}

.toast-card {
  color: rgb(145, 21, 21);
  background-color: rgb(241, 184, 163);
  padding: 0.2rem 1rem;
  font-size: 1.8rem;
}

.new-user__text {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2.5rem;
  flex-wrap: wrap;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-logo {
  color: #222;
  font-family: "Monoton", cursive;
  font-size: calc(1.5rem + 1.5vmin);
  font-weight: 700;
  flex-grow: 1;
}

.redden {
  color: rgb(145, 21, 21);
  font-weight: bolder;
}

.app-navbar {
  font-size: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: auto;
}

.app-navbar a {
  color: rgb(145, 21, 21);
  transition: all 200ms ease-in-out;
}

.app-navbar a:hover {
  color: #222;
  font-weight: 600;
  text-decoration: underline dashed 2px rgb(145, 21, 21);
  transition: all 200ms ease-in-out;
}

.app-main__content {
  margin: auto;
  max-width: 900px;
  padding: 2rem 0.5rem;
}

.app-main__content .welcome-text {
  font-size: 1.5rem;
  padding: 0.3rem 0;
}

.black-liner {
  width: 100%;
  height: 5px;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.app-main__content .main-content__title {
  text-align: center;
  font-size: calc(3rem + 1vmin);
}

.app-main__content .form,
.app-main__content .form-group {
  display: flex;
  flex-direction: column;
}

.app-main__content .form {
  gap: 1rem;
}

.app-main__content .form-group {
  gap: 0.2rem;
}

.app-main__content .form-control {
  outline: none;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  padding: 0.2rem;
  border: 1px solid #222;
}

.app-main__content .form .checkbox > label {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  color: rgb(145, 21, 21);
  font-size: 1.5rem;
}

.app-main__content input[type="submit"] {
  font-size: 1.5rem;
  background-color: rgb(145, 21, 21);
  border: 1px solid #222;
  color: #eee;
  padding: 0.5rem 0;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}

.app-main__content .app-about {
  display: flex;
  flex-direction: column;
  gap: 1;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 2rem 0;
}

.app-about .heading {
  color: rgb(145, 21, 21);
  text-align: end;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  font-size: calc(2.5rem + 1vmin);
}

.app-about .subheading::before {
  content: "[";
  color: rgb(145, 21, 21);
}

.app-about .subheading::after {
  content: "]";
  color: rgb(145, 21, 21);
}

.app-about .subheading {
  font-size: calc(1.5rem + 1vmin);
  margin: 2rem 0;
  text-align: center;
}

.app-about .mission-story {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}

.app-about .reason-to {
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: #bbb;
}

.app-about > .reasons-list {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem 0;
  margin-bottom: 1.2rem;
}

.app-about > .reasons-list li {
  background-color: rgb(145, 21, 21);
  color: #eee;
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
}

.app-about blockquote {
  background-color: #eee;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: "Space Mono", monospace;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.app-about blockquote > span {
  text-align: end;
  align-self: flex-end;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.app-main__content .create-poem-container {
  margin: 2rem 0;
  text-align: end;
}

.create-poem-container a {
  background-color: rgb(145, 21, 21);
  padding: 0.5rem 1rem;
  color: #eee;
  text-decoration: none;
  font-size: 1.5rem;
}

.app-main__content .create-category-link {
  margin: 1rem auto;
  max-width: max-content;
  display: block;
  font-size: 1.5rem;
}

.app-main__content .poems-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  border-top: 1px solid #eee;

  padding: 1rem 0;
}

.poems-container .poem-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.5rem;
  color: #eee;
  height: 100%;
}

.poems-container > a {
  text-decoration: none;
}

.poems-container > a:nth-child(even) {
  background-color: #911515;
}

.poems-container > a:nth-child(odd) {
  background-color: #222;
}

.poem-card .poem-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid #bbb;
}

.poem-card .poem-desc {
  background-color: #eee;
  color: #911515;
  padding: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.poem-card .poem-metadata {
  display: flex;
  gap: 0.4rem;
  font-weight: 700;
  align-items: center;
  margin: 0.5rem 0;
}

.poem-card .poem-metadata .poem-creation__date {
  color: grey;
  margin-right: auto;
}

.poem-card .poem-metadata .poem-rating {
  color: yellow;
  margin-right: 1rem;
}

.poem-card .poem-metadata .poem-category {
  text-transform: uppercase;
  color: orange;
  font-family: "Space Mono";
}

.poem-card .poem-premium {
  color: #222;
  align-self: flex-end;
  padding: 0.05rem 0.6rem;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 20px;
}

.poem-card .is-premium {
  background-color: gold;
}

.poem-card .not-premium {
  background-color: cyan;
}

.app-main__content > .poem-desc,
.app-main__content > .poem-stanzas {
  font-size: calc(1.5rem + 0.6vmin);
  line-height: 2.5rem;
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.app-main__content > .poem-desc .poem-desc__heading,
.app-main__content > .poem-stanzas .poem-stanzas__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  color: #911515;
  padding: 0.5rem 1rem;
  font-size: calc(2rem + 1vmin);
  background-color: #eee;
}

.app-main__content > .poem-desc .poem-desc__content,
.app-main__content > .poem-stanzas .poem-stanzas__container {
  width: 60%;
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}

.poem-stanzas > .poem-stanzas__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem !important;
  flex-basis: 400px;
  justify-content: center;
  align-items: flex-start;
}

.poem-stanzas__container > .no-stanza-text {
  color: orange;
  margin: auto;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.poem-stanzas__container > .add-stanza {
  text-decoration: none;
  color: #222;
  background-color: #eee;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
}

.poem-stanzas__container > .poem-stanza__card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 10px;
  max-width: 95%;
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
}

.poem-stanza__card .stanza-number {
  font-size: 2rem;
  font-weight: 900;
  background-color: #911515;
  color: #eee;
  align-self: flex-start;
  padding: 0.4rem 1.2rem 0.4rem 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -15px;
}

.poem-stanza__card .stanza-content {
  font-family: "Space Mono", monospace;
  padding: 0.5rem 1rem;
  border: 1px solid #333121;
  border-top: 5px solid rgb(241, 184, 163);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex-basis: 300px;
  overflow-y: auto;
  white-space: pre-line;
  word-spacing: -0.4rem;
  font-size: calc(1rem + 0.8vmin);
  max-height: 400px;
}

.poem-stanza__card .stanza-metadata {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #bbb;
  color: #222;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: calc(0.5rem + 1vmin);
}

.stanza-metadata > span:nth-child(even) {
  margin-left: auto;
  text-align: end;
}

.poem-stanza__card .poem-action__links {
  align-self: center;
  margin-bottom: -1.8rem;
  z-index: 1;
  border: 1px solid rgb(241, 184, 163);
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 1vmin);
}

.poem-action__links > a {
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.5rem;
  text-transform: uppercase;
  background-color: #1c521c;
  color: #eee;
}

.poem-action__links > a:first-child {
  background-color: #911515;
  color: #eee;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.poem-action__links > a:last-child {
  padding: 0 0.8rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.add-comment__form-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.comments-container {
  margin-top: 1.5rem;
}

.comments-container .comments-title {
  color: #911515;
  font-size: 2rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.comments-title .comment-title__text {
  margin: 0 0.6rem;
}

.comments-container .comments-title .black-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
}

.comments-container .poem-comments {
  border: 1px solid #bbb;
  border-bottom: 0;
  border-radius: 5px;
}

.poem-comments .comment-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  border-bottom: 1px solid #bbb;
}

.comment-card .comment-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.comment-card .comment-heading .commenter {
  color: #911515;
  text-transform: uppercase;
}

.comment-card .comment-heading .comment-date {
  color: grey;
  background-color: #eee;
  padding: 0 0.4rem;
}

.comment-card .comment-body {
  font-size: 1.5rem;
  color: #333121;
  font-weight: 300;
}

.comment-card .comment-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
}

.comment-card .comment-footer .comment-status {
  color: green;
  font-size: larger;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

.comment-card .delete-btn {
  padding: 0.3rem 1rem 0.5rem;
  text-align: center;
  background-color: #911515;
  text-decoration: none;
  color: #eee;
  margin-left: auto;
  border-radius: 20px;
  font-size: 1.2rem;
}

.comments-restricted {
  color: #911515;
  text-align: center;
  font-size: calc(2rem + 1.5vmin);
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #bbb;
}

.no-comment {
  color: #222;
  font-size: calc(1.5rem + 1vmin);
  text-align: center;
  border: 1px solid #bbb;
  border-bottom: none;
  padding: 1rem 0;
}
