{% macro pagination_widget(pagination, endpoint) %}
<div class="pagination-container">
  <a
    class="prev-page {{ 'disabled' if not pagination.has_prev else '' }}"
    href="{{ url_for(endpoint, 
        page=pagination.page - 1, **kwargs) if pagination.has_prev else '#' }}"
  >
    &lArr;
  </a>
  <ul class="pagination">
    {% for p in pagination.iter_pages() %} {% if p %}
    <li class="{{ 'active' if pagination.page == p else '' }}">
      <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{p}}</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %} {% endfor %}
  </ul>
  <a
    class="next-page {{ 'disabled' if not pagination.has_next else '' }}"
    href="{% if pagination.has_next %}{{ url_for(endpoint,
page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}"
  >
    &rArr;
  </a>
</div>
{% endmacro %} {% macro more_actions_widget(record, user, name='poem') %}
<div class="more-actions__container">
  <i class="fa-solid fa-ellipsis-vertical" id="more-action__toggler"></i>
  <div class="more-actions__box hidden">
    <button class="more-action__btn" id="copy-btn">Copy {{name|title}} Link</button>
    <button class="more-action__btn" id="generate-btn">Download as PDF</button>
    {% if record.is_accessible %}
    <a href="/poems/{{record.id}}/publish">
    {{ 'Unp' if record.published else 'P' }}ublish {{name|title}}
    </a>
    <a href="/poems/{{record.id}}/complete">
      Mark as {{ 'Inc' if record.completed else 'C' }}omplete
    </a>
    {% endif %}
  </div>
</div>
{% endmacro %}
