{% macro pagination_widget(pagination, endpoint) %}
{% if pagination.total > pagination.per_page %}
<hr>
<div class="pagination-container">
  <a class="prev-page {{ 'disabled' if not pagination.has_prev else '' }}" href="{{ url_for(endpoint, 
      page=pagination.page - 1, **kwargs) if pagination.has_prev else '#' }}">
    &lArr;
  </a>
  <span class="page-items__count">
    {{ (pagination.page - 1) * pagination.per_page + 1 }} -
    {{ [pagination.page * pagination.per_page, pagination.total]|min }} of
    {{ pagination.total }}
  </span>
  <a class="next-page {{ 'disabled' if not pagination.has_next else '' }}" href="{% if pagination.has_next %}{{ url_for(endpoint,
    page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
    &rArr;
  </a>
</div>
{% endif %}
{% endmacro %} {% macro more_actions_widget(record, user, name='poem') %}
<div class="more-actions__container">
  <i class="fa-solid fa-ellipsis-vertical" id="more-action__toggler"></i>
  <div class="more-actions__box hidden">
    <button class="more-action__btn" id="copy-btn">Copy {{name|title}} Link</button>
    <button class="more-action__btn" id="generate-btn">Download as PDF</button>
    {% if record.is_accessible %}
    <a href="/poems/{{record.id}}/publish">
      {{ 'Unp' if record.published else 'P' }}ublish {{name|title}}
    </a>
    <a href="/poems/{{record.id}}/complete">
      Mark as
      {{ 'Inc' if record.completed else 'C' }}omplete
    </a>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro poem_card_widget(poem) %}
<a href="{{url_for('poems.poem', slugname=poem.slug)}}">
  <div class="poem-card">
    <h4 class="poem-title">{{poem.title}}</h4>
    <p class="poem-desc">
      {% if poem.description %} {{poem.description[:60]|trim}}{{'...' if
      poem.description|length > 60 else ''}} {% else %} No Poem Description.
      {%endif%}
    </p>
    <p class="poem-metadata">
      <span class="poem-creation__date">{{poem.crafted_on.date()}}</span>
      <span class="poem-rating" title="Poem Rating">{{poem.rating}}</span>
      <span class="poem-category">{{poem.categories.name}}</span>
    </p>
    <p class="card-footer">
      {% if poem.poets %}
      <span class="poem-author">{{poem.poets.poet_name}}</span>
      {% endif %}
      <span class="poem-premium {{'is-premium' if poem.premium else 'not-premium'}}">
        {{'Premium' if poem.premium else 'Free'}}
      </span>
    </p>
  </div>
</a>
{% endmacro %}