{% macro pagination_widget(pagination, endpoint) %}
<div class="pagination-container">
  <a
    class="prev-page {{ 'disabled' if not pagination.has_prev else '' }}"
    href="{{ url_for(endpoint, 
        page=pagination.page - 1, **kwargs) if pagination.has_prev else '#' }}"
  >
    &lArr;
  </a>
  <ul class="pagination">
    {% for p in pagination.iter_pages() %} {% if p %}
    <li class="{{ 'active' if pagination.page == p else '' }}">
      <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{p}}</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %} {% endfor %}
  </ul>
  <a
    class="next-page {{ 'disabled' if not pagination.has_next else '' }}"
    href="{% if pagination.has_next %}{{ url_for(endpoint,
page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}"
  >
    &rArr;
  </a>
</div>
{% endmacro %}
