<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
      type="text/css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://kit.fontawesome.com/f218f41e74.js"
      crossorigin="anonymous"
    ></script>
    {% block more_stylesheets %} {% endblock more_stylesheets %}
    <title>[PoetPiece] {% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% for category, message in get_flashed_messages(with_categories=true)[:1] %}
    <p
      class="toast-card {{ 'error-toast' if category == 'error' else 'msg-toast' }}"
    >
      {% if category == 'error' %} <strong>Error:</strong> {% endif %} {{
      message }}
    </p>
    {% endfor %}
    <header class="app-header">
      <h3 class="app-logo">
        <a href="/{{ 'poems' if current_user.is_authenticated else '' }}"
          >Poet<span class="differentiate">Piece</span></a
        >
      </h3>
      <nav class="app-navbar">
        {% if not current_user.is_authenticated %}
        <a href="{{url_for('poems.index')}}" class="app-nav__item darken">Poems</a>
        <a href="{{url_for('main.signup')}}" class="app-nav__item">Sign Up</a>
        {% endif %}
        <a href="/{{ 'logout' if current_user.is_authenticated else 'login' }}">
          {{ 'Logout' if current_user.is_authenticated else 'Login' }}
        </a>
      </nav>
    </header>
    <main class="app-main__content">
      <div class="welcome-box">
        <p class="welcome-text">
          Hello, {% if current_user.is_authenticated %}
          <span class="redden">{{current_user.username|upper}}</span>
          {% else %}
          <span class="redden">Stranger</span>
          {% endif %}
        </p>
        <hr class="black-liner" />
        {% block menu_toggler %}{% endblock menu_toggler %}
      </div>
      {% block main_content %} {% endblock main_content %} {% include
      "shared/navigation.html" %}
    </main>
    <script src="{{ url_for('static', filename='js/confirm_delete.js') }}"></script>
    <script src="{{url_for('static', filename='js/active_navigation.js')}}"></script>
  </body>
</html>
