{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
main_content %}
<div class="app-about">
  <h2 class="heading">MISSION</h2>
  <div class="mission-story">
    <p>
      My buttocks stayed comfortably in my seat as I recited my new poem. I
      could see her eyes lit with emotions. These emotions appeared so mixed
      that I could barely let go of the gaze. My eyes searched peculiarly,
      analysing every wave of emotion I could perceive.
    </p>
    <blockquote>
      <q>With more sleuthing comes more responsibilities</q>
      <span>&mdash; My mind sang me.</span>
    </blockquote>
    <blockquote>
      <q>What is your name?</q>
      <span>&mdash; She whispered gracefully.</span>
    </blockquote>
    <blockquote>
      <q>Call Me <strong>A PoetPiece</strong>!</q>
      <span>&mdash; I replied with a wink.</span>
    </blockquote>
    <blockquote>
      <q>Why do you compose poems?</q>
      <span>&mdash; She asked again with a welcoming smile.</span>
    </blockquote>
  </div>
  <h3 class="subheading">REASONS</h3>
  <p class="reason-to">TO:</p>
  <ul class="reasons-list">
    <li>Express Emotions and Thoughts</li>
    <li>Provoke Reflection</li>
    <li>Tell a Story</li>
    <li>Provide a New Perspective</li>
  </ul>
  <blockquote>
    <q>Which of these reasons were brought to life by my poem?</q>
    <span>&mdash; I asked with an exquisite cackle.</span>
  </blockquote>
  <blockquote>
    <q><strong>NONE!</strong></q>
  </blockquote>
  <blockquote>
    <q
      >Don't conclude just yet... Click the button below to access more poems for
      free</q
    >
    <span>&mdash; I said with a taunting smile on my face.</span>
  </blockquote>
  <hr>
  <a href="{{url_for('poems.index')}}" class="join-me">Explore the Poetic Universe!</a>
</div>
{% endblock main_content %}
